body {
    background-color: #000;
    color: #fff;
    font-family: monospace;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  * {
    cursor: url(), auto !important;
    * {cursor: url(https://cdn.discordapp.com/attachments/1084128160255312003/1108112541198073906/CursorsXP.cur), auto !important;}
  }
  
  .terminal {
    background-color: #000;
    border: 2px solid #0f0;
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Added to center the text */
  }
  
  .terminal-header {
    color: #0f0;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .terminal-body p {
    margin-bottom: 10px;
  }
  
  .terminal-body ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .terminal-body ul li a {
    color: #0af;
    text-decoration: none;
  }
  
  .terminal-body ul li a:hover {
    text-decoration: underline;
  }
  
  /* Media Queries for Mobile Devices */
  @media only screen and (max-width: 600px) {
    .terminal {
      width: 90%;
      max-width: 90vw;
    }
  }
  